package components

templ Logo() {
<div class="h-40 w-40 n rounded-full mx-auto">

<img src="https://res.cloudinary.com/dubinx/image/upload/v1726227458/ushort_pao8ed.webp" class="rounded-full" alt="logo">
</div>
}