package views
import (
    "github.com/Dubjay18/Ushort/views/components"
)
templ Index() {
    <!DOCTYPE html>
    <html>
      @components.Header()
        <body>
            <h1>Index</h1>
            <p>Welcome to the index page</p>
        </body>
    </html>
}